.timer-container{
  position: absolute;
  top: 0%;
  display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 background-color: gray;
 width: 17.48%;
 height: 10.78%;
 border-radius: 16%;  
 opacity: 0.7;
}

#timer{
margin-top: 3vh;

}