@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

.game-board{
  overflow: hidden;
  position: relative;

}

.Starter {
  display: block;
  object-fit: cover; 
  width: auto; 
  height: 100vh; 
}

.button-design{
  border: none;
  font-family: "Space Mono", monospace;
  opacity: 0.8;
  border-radius: 34px;
  cursor: pointer;
  background-color: #D49838;
}
.tuto-button{
  position: absolute;   
  top: 18%; 
  padding: 3vh;
  margin: 5vh;
  
 
}
.hidden-button{
  position: absolute;
  top:30%;
  left:1%;
  padding: 5vh;
}

.button-design:hover{
  background-color: #f6b651; 
 }

.arrow-img{
  border: none;
  position: absolute;
  width: 31px;
  top: 4%;
  left: 48%;
  padding: 0;
  transform: rotate(180deg);
  border-color: black;
  background-color: black;
}

.arrow-img:hover{
  cursor: pointer;
}

br {
  margin: 10px 0;
}

.mug-hidden-button {
  position: absolute;
  top: 42%;
  left: 93%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  padding: 2vh;
  opacity: 0%;
}

.nothing-to-see{
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4vh 0 4vh 20%;
  background-color: transparent;
  color: transparent;
  border: none;
}
.nothing-to-see:disabled{
  background-color: transparent;

}

.nothing-to-see:hover{
  cursor: pointer;
}

.mug-hidden-button:hover{
  cursor: pointer;
}

.timer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 0%;
 background-color: gray;
 width: 17.48%;
 height: 10.78%;
 border-radius: 16%;  
 opacity: 0.7;
}

#timer{
margin-top: 3vh;

}

.colorred{
  background-color: red;
} 