* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
html {
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 100vh;
  background-color: black;
}

/* ASIDE */
aside {
  background: #000;
  display: grid;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  height: 100vh;
  padding: 0;
}

/* 
.timer {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: white;
  width: 90px;
  height: 50px;
  margin: auto;
}TIMER */

/* ++++++++++++++ BOUTON INVENTAIRE +++++++++++++++++ */
.inventory-container {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Le conteneur devient le parent de référence pour le positionnement absolu du menu */
}

#inventoryButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: #d49838;
  height: 90%;
  width: 70%;
}

#inventoryButton img {
  width: 100%;
  height: 100%;
}

/* +++++++++++++++++++++ MENU INVENTAIRE +++++++++++++++++++++++++*/
#inventoryMenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: transparent;
  height: 95%;
  display: none; /* Cache le menu par défaut */
  width: 300%;
  z-index: 3;
}

#inventoryMenu ul {
  display: flex; /* Aligne les items horizontalement */
  padding: 0;
  list-style: none;
  margin: 0;
}

#inventoryMenu.show {
  display: block;
}

.item {
  height: 85%;
  width: 66%;
}

.hidden {
  display: none;
}

/* +++++++++++++++++++++ MAIN ++++++++++++++++++++++ */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}

main img {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  width: 100%;
  height: 100%;
}

/* BOUTONS */
#deadbody {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  justify-self: center;
  background-color: #d49838;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 80%;
  border-radius: 34px;
}

/* VERS L'INTERIEUR */
#inside {
  width: 20%; /* Largeur du bouton */
  height: 20%; /* Hauteur du bouton */
  grid-column: 1;
  grid-row: 2;
  background: none;
  border: none;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

#inside img {
  width: 100%;
  height: 100%;
}

/* VERS LE CAFE */
#needcoffee {
  width: 60px; /* Largeur du bouton */
  height: 60px; /* Hauteur du bouton */
  grid-column: 2; /* Colonne 2 */
  grid-row: 2; /* Ligne 2 */
  background-color: transparent;
  border: none; /* Enlève la bordure par défaut */
  position: absolute;
  top: 2%;
  left: 31%;
  cursor: pointer;
}

/* SOUNDSYSTEM */
#setting-panel {
  grid-area: 2/2/3/3;
  justify-self: center;
  align-self: center;
  visibility: hidden;
  width: 90%;
  height: 100%;
  padding: 2%;
  border: 3px solid var(--polygon-fill);
  border-radius: 15px;
  color: white;
  background-color: var(--primary-color-inventory);
  z-index: 2;
}

.panel-setting {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.panel-setting button {
  width: 60px;
  height: 30px;
}

.panel-setting > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  font-size: var(--font-size-small);
}

#sound-level {
  font-size: var(--font-size-small);
}

.timer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 0%;
 background-color: gray;
 width: 17.48%;
 height: 10.78%;
 border-radius: 16%;  
 opacity: 0.7;
}

#timer{
margin-top: 3vh;

}

.colorred{
  background-color: red;
} 

.sound-setting-wrapper {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  transition: all .2s ease;
}

.sound-setting-wrapper:hover {
  transform: scaleX(150%) scaleY(150%);
}
