:root {
  --bg-black: #000;
  --primary-color-inventory: #D49838;
  --polygon-fill: #fff;
  --polygon-stroke: #000;
  --polygon-stroke-width: 2;
}

* {
  box-sizing: border-box;
}

body, button, a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-black);
}

main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: .25fr 1fr;
  grid-template-areas: "aside center";
  width: 100vw;
  height: 100vh;
}

aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: 1fr .25fr;
  grid-template-columns: 1fr;
  grid-template-areas: "chrono inventory";
  width: 100%;
  height: 100%;
  border: 4px solid #6D5959;
  z-index: 2;
}

.game-area {
  grid-area: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    ". top ."
    "left . right"
    ". bottom .";
    z-index: 1;
}

.btn-chrono {
  grid-area: 1/1;
  justify-self: center;
  align-self: flex-start;
}

.inventory-bag {
  grid-area: 4/1;
  justify-self: center;
  align-self: center;
  width: 80%;
  height: auto;
  z-index: 1;
}

.bg-inventory {
  grid-area: 4/1;
  width: 100%;
  height: 100%;
  opacity: .75;
  transition: all .1s ease-in-out;
  background-color: var(--primary-color-inventory);
}

.bg-inventory.hover {
  box-shadow: 0 0 10px 5px #fff;
}

.bg-inventory.unroll {
  width: 350%;
}
  
.btn-arrows {
  display: flex;
  z-index: 1;
}

.img-btn-arrows {
  width: 15px;
  height: 15px;
  transition: all .1s ease-in;
}

.img-btn-arrows:hover {
  transform: scaleX(150%) scaleY(150%);
}

.btn-top {
  grid-area: top;
  transform: rotate(90deg);
  justify-self: center;
  align-self: center;
}

.btn-right {
  grid-area: right;
  transform: rotate(180deg);
  justify-self: center;
  align-self: center;
}

.btn-bottom {
  grid-area: bottom;
  transform: rotate(-90deg);
  justify-self: center;
  align-self: center;
}

.btn-left {
  grid-area: left;
  justify-self: center;
  align-self: center;
}

button {
  width: 80px;
  height: 35px;
}

.front-toilet {
  grid-area: 1/2/4/3;
  justify-self: center;
  align-self: center;
  width: auto;
  height: 100vh;
}