/* body */

body {
  background-image: url("../assets/images/jpg_files/desktop/room_bureau-cofee_adventure.jpg");
  background-size: cover;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #ffffff; */
  /* border: 2px solid #ccc; */
  /* overflow: hidden; */
}

/* image cardinaux */

/* .image-cardinaux { 
padding: 20px;
width: 20px;
height: 20px;
position: absolute;
/* } */

/* boutons*/

aside button {
  border: none;
  padding: 0;
  cursor: pointer;
  /* background-color: chartreuse; */
  width: 10px;
  height: 10px;
  margin: 5px;
}

button img {
  width: 20px;
  height: 90px;
  display: block;
}

/* insertion images */

/* Arrow position */

.up-arrow,
.right-arrow,
.down-arrow,
.left-arrow {
  position: absolute;
  background: none;
}

.up-arrow {
  top: 0;
  left: 50%;
}

.right-arrow {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.down-arrow {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.left-arrow {
  width: 50px;
  height: auto;
}

/* rotation des images */

.left-arrow {
  transform: rotate(90deg);
}
.up-arrow {
  transform: rotate(180deg);
}
.right-arrow {
  transform: rotate(270deg);
}
